<div class="utilities-container">
  <h3>Class Utilities:</h3>

  <div class="row class-utilities-row">
    <div class="col-md-12">
      <h4>Utilities:</h4>
    </div>
    <div class="col-md-5 utility">Immunities: {{ immunities }}</div>
    <div class="col-md-5 utility">Battle Res</div>
  </div>

  <div class="row class-utilities-row">
    <div class="col-md-12">
      <h4>Buffs:</h4>
    </div>
    <div class="col-md-5 utility">Stamina</div>
    <div class="col-md-5 utility">Attack Power</div>
    <div class="col-md-5 utility">Intelect</div>
    <div class="col-md-5 utility">Bloodlust/Hero/TW</div>
  </div>

  <div class="row class-utilities-row">
    <div class="col-md-12">
      <h4>Debuffs:</h4>
    </div>
    <div class="col-md-5 utility">Phisical DMG</div>
    <div class="col-md-5 utility">Magic DMG</div>
    <div class="col-md-5 utility">AA/Cast Speed</div>
  </div>
</div>
