<div class="utilities-container">
  <h3>Class Utilities:</h3>

  <div class="row class-utilities-row">
    <div class="col-md-5 utility" [ngClass]="{ 'utilities-ok': (utilitiesData$ | async).utilities.immunities > 0 }">
      Immunities: {{ (utilitiesData$ | async).utilities.immunities }}
    </div>
    <div class="col-md-5 utility" [ngClass]="{ 'utilities-ok': (utilitiesData$ | async).utilities.battleRes }">
      Battle Res
    </div>
    <div class="col-md-5 utility" [ngClass]="{ 'utilities-ok': (utilitiesData$ | async).buffs.stamina }">Stamina</div>
    <div class="col-md-5 utility" [ngClass]="{ 'utilities-ok': (utilitiesData$ | async).buffs.attackPower }">
      Attack Power
    </div>
    <div class="col-md-5 utility" [ngClass]="{ 'utilities-ok': (utilitiesData$ | async).buffs.intellect }">
      Intellect
    </div>
    <div class="col-md-5 utility" [ngClass]="{ 'utilities-ok': (utilitiesData$ | async).buffs.haste }">
      Bloodlust/Hero/TW
    </div>
    <div class="col-md-5 utility" [ngClass]="{ 'utilities-ok': (utilitiesData$ | async).debuffs.physical }">
      Physical DMG
    </div>
    <div class="col-md-5 utility" [ngClass]="{ 'utilities-ok': (utilitiesData$ | async).debuffs.magic }">Magic DMG</div>
    <div class="col-md-5 utility" [ngClass]="{ 'utilities-ok': (utilitiesData$ | async).debuffs.haste }">
      AA/Cast Speed
    </div>
  </div>
</div>
