<div class="composition-container">
  <h3>Classes:</h3>

  <div class="row class-composition-container">
    <div class="col-md-12">
      <rv-player-card
        class="card-item"
        *ngFor="let class of classData"
        [leftText]="(classCount$ | async)[class.id].toString()"
        [centerText]="getClassNameById(class.id)"
        [className]="class.id"
      ></rv-player-card>
    </div>
  </div>

  <h3>Class Utilities:</h3>

  <div class="row class-utilities-row">
    <div class="col-md-12">
      <h4>Immunities:</h4>
    </div>
    <div class="col-md-5" [ngClass]="{ 'utilities-ok': hasDH, 'utilities-missing': !hasDH }">DH Havoc</div>
    <div class="col-md-5" [ngClass]="{ 'utilities-ok': hasHunter, 'utilities-missing': !hasHunter }">Hunter</div>
    <div class="col-md-5" [ngClass]="{ 'utilities-ok': hasPaladin, 'utilities-missing': !hasPaladin }">Paladin</div>
    <div class="col-md-5" [ngClass]="{ 'utilities-ok': hasMage, 'utilities-missing': !hasMage }">Mage</div>
  </div>

  <div class="row class-utilities-row">
    <div class="col-md-12">
      <h4>Buffs:</h4>
    </div>
    <div class="col-md-5" [ngClass]="{ 'utilities-ok': hasPriest, 'utilities-missing': !hasPriest }">Stamina</div>
    <div class="col-md-5" [ngClass]="{ 'utilities-ok': hasWarrior, 'utilities-missing': !hasWarrior }">
      Attack Power
    </div>
    <div class="col-md-5" [ngClass]="{ 'utilities-ok': hasMage, 'utilities-missing': !hasMage }">Intelect</div>
    <div
      class="col-md-5"
      [ngClass]="{
        'utilities-ok': hasHunter || hasMage || hasShaman,
        'utilities-missing': !hasHunter && !hasMage && !hasShaman
      }"
    >
      Bloodlust/Hero/TW
    </div>
  </div>

  <div class="row class-utilities-row">
    <div class="col-md-12">
      <h4>Debuffs:</h4>
    </div>
    <div class="col-md-5" [ngClass]="{ 'utilities-ok': hasMonk, 'utilities-missing': !hasMonk }">Phisical DMG</div>
    <div class="col-md-5" [ngClass]="{ 'utilities-ok': hasDH, 'utilities-missing': !hasDH }">Magic DMG</div>
    <div class="col-md-5" [ngClass]="{ 'utilities-ok': hasWarlock, 'utilities-missing': !hasWarlock }">
      AA/Cast Speed
    </div>
  </div>
</div>
