<div class="composition-container">
  <h3>Classes:</h3>

  <div class="row class-composition-container">
    <div class="col-md-12">
      <rv-player-card
        class="card-item"
        *ngFor="let class of classData"
        [leftText]="(classCount$ | async)[class.id].toString()"
        [centerText]="getClassNameById(class.id)"
        [className]="class.id"
      ></rv-player-card>
    </div>
  </div>

  <h3>Class Utilities:</h3>

  <div class="row class-utilities-row">
    <div class="col-md-12">
      <h4>Immunities:</h4>
    </div>
    <div class="col-md-5 utilities-ok">DH Havoc</div>
    <div class="col-md-5 utilities-missing">Hunter</div>
    <div class="col-md-5 utilities-missing">Paladin</div>
    <div class="col-md-5 utilities-missing">Mage</div>
  </div>

  <div class="row class-utilities-row">
    <div class="col-md-12">
      <h4>Buffs:</h4>
    </div>
    <div class="col-md-5 utilities-missing">Stamina</div>
    <div class="col-md-5 utilities-missing">Attack Power</div>
    <div class="col-md-5 utilities-missing">Intelect</div>
    <div class="col-md-5 utilities-missing">Bloodlust/Hero/TW</div>
  </div>

  <div class="row class-utilities-row">
    <div class="col-md-12">
      <h4>Debuffs:</h4>
    </div>
    <div class="col-md-5 utilities-missing">Phisical DMG</div>
    <div class="col-md-5 utilities-missing">Magic DMG</div>
    <div class="col-md-5 utilities-missing">AA/Cast Speed</div>
  </div>
</div>
