.composition-container {
  .card-item::ng-deep {
    padding-bottom: 5px;
    .card-container {
      width: 169px;
      height: 30px;
      .left-text {
        font-size: 14px;
        text-align: center;
        text-shadow: none;
        color: black;
        padding: 0 5px;
        font-weight: bold;
        svg {
          height: 20px;
          width: 20px;
          circle {
            stroke: black;
            stroke-width: 1;
            fill: white;
          }
          text {
            text-anchor: middle;
            stroke-width: 1px;
          }
        }
      }

      .center-text {
        width: inherit;
        padding: 0 10% 0 0;
      }
    }
  }
}
