<div class="add-player-container">
  <div class="row">
    <div class="col-md-12 player-name-container">
      <input
        max="12"
        nz-input
        placeholder="Enter player name..."
        [ngModel]="name"
        (ngModelChange)="newNameSelected($event)"
      />
    </div>
    <div class="col-md-12 player-class-container">
      <rlt-selectable-icon-group
        [iconData]="classIconData"
        (iconSelected)="newClassSelected($event)"
      ></rlt-selectable-icon-group>
    </div>
    <div class="col-md-12 player-spec-container select-class-warning">
      <rlt-selectable-icon-group
        *ngIf="specIconData.length > 0; else infoMessage"
        [iconData]="specIconData"
        (iconSelected)="newSpecSelected($event)"
      ></rlt-selectable-icon-group>
      <ng-template #infoMessage>
        <div class="select-class-info-container">
          <nz-alert nzType="info" nzMessage="Please select class to view available specs"></nz-alert>
        </div>
      </ng-template>
    </div>
  </div>
</div>
