@import 'src/styles/theme/_spacings';

.add-player-container {
  height: 370px;

  .player-name-container,
  .player-class-container,
  .player-spec-container {
    margin-bottom: $spacing-xl;
  }

  .select-class-warning {
    margin-bottom: 0;
  }

  .player-spec-container {
    .select-class-info-container {
      height: 75px;
    }
  }
}
