<div class="card-container" [ngClass]="cssBackgroundClass">
  <div class="left-icon icon" *ngIf="leftImageSrc">
    <img [src]="leftImageSrc" alt="left-icon" />
  </div>
  <div *ngIf="leftText" class="left-text">{{ leftText }}</div>
  <div *ngIf="centerText" class="center-text">{{ centerText }}</div>
  <div class="right-icons">
    <div class="top-right-icon icon" *ngIf="topRightImgSrc">
      <img [src]="topRightImgSrc" alt="top-right-icon" />
    </div>
    <div class="bottom-right-icon icon" *ngIf="bottomRightImgSrc">
      <img [src]="bottomRightImgSrc" alt="bottom-right-icon" />
    </div>
  </div>
</div>
