<div class="card-container" [ngClass]="getBackgroundColorByClassName(className)">
  <div class="left-icon icon" *ngIf="leftImageSrc">
    <img [src]="leftImageSrc" alt="left-icon" />
  </div>
  <div *ngIf="leftText" class="left-text">
    <svg>
      <circle cx="10" cy="10" r="10" />
      <text x="10" y="15">{{ leftText }}</text>
    </svg>
  </div>
  <div *ngIf="centerText" class="center-text">{{ centerText }}</div>
  <div class="right-icons">
    <div class="top-right-icon icon" *ngIf="topRightImgSrc">
      <img [src]="topRightImgSrc" alt="top-right-icon" />
    </div>
    <div class="bottom-right-icon icon" *ngIf="bottomRightImgSrc">
      <img [src]="bottomRightImgSrc" alt="bottom-right-icon" />
    </div>
  </div>
</div>
