@import 'src/styles/theme/_variables';
@import 'src/styles/theme/_spacings';
@import 'src/styles/theme/_mixins';

:host {
  display: inline-block;

  .card-container {
    @include player-card;
    cursor: pointer;

    .center-text {
      width: 90px;
      align-self: center;
      padding-top: $spacing-xxxs;
      font-size: 14px;
      color: white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .left-icon {
      align-self: center;
      img {
        width: 25px;
      }
    }

    .right-icons {
      align-self: center;
      .top-right-icon,
      .bottom-right-icon {
        img {
          width: 20px;
        }
      }
    }
  }
}
