@import 'src/styles/theme/_variables';
@import 'src/styles/theme/_spacings';
@import 'src/styles/theme/_mixins';

:host {
  display: inline-block;

  .player-card-container {
    @include player-card;

    .player-name {
      width: 90px;
      align-self: center;
      padding-top: $spacing-xxxs;
      font-size: 14px;
      color: white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .role-icon {
      align-self: center;
      img {
        width: 25px;
      }
    }

    .class-spec-icons {
      align-self: center;
      .class-icon,
      .spec-icon {
        img {
          width: 20px;
        }
      }
    }
  }
}
