@import 'src/styles/theme/_mixins';
@import 'src/styles/theme/_variables';
@import 'src/styles/theme/_spacings';

.planner-container {
  .roles-container {
    // background-color: lightblue;
    background-color: rgba(173, 216, 230, 0.7);
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: $spacing-xs 0;
    .role-count {
      display: inline-block;
      text-align: center;
      font-weight: bold;
    }
    .role-icon {
      width: 20px;
      padding-right: $spacing-xxs;
      padding-bottom: $spacing-xxs;
    }
    .tanks {
      color: $tank;
    }
    .healers {
      color: $healer;
    }
    .dps {
      color: $dps;
    }
  }
  .all-cards-container {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: $spacing-m;

    .empty-card-container {
      display: inline-block;

      .empty-card {
        @include player-card;
        height: 51px;
        justify-content: center;
        transition: 0.3s;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
        cursor: pointer;

        &:hover {
          background-color: darkgray;
        }

        img {
          align-self: center;
          width: 40px;
        }
      }
    }
  }

  nz-select {
    margin: 0 8px 10px 0;
    width: 64px;
  }
}
