<div class="container planner-container">
  <div class="row">
    <div class="col-md-8">
      <h3>Main team:</h3>

      <div class="row">
        <div class="col-md-12">
          <div class="all-cards-container" dragula="VAMPIRES" [(dragulaModel)]="players">
            <rv-player-card
              class="vamp"
              *ngFor="let player of players"
              nz-button
              nzTooltipTitle="{{ player.note }}"
              nzTooltipPlacement="topCenter"
              nz-tooltip
              [centerText]="player.name"
              [topRightImgSrc]="getClassIconById(player.classId)"
              [bottomRightImgSrc]="getSpecIconById(player.specId)"
              [leftImageSrc]="getRoleIconById(player.roleId)"
              [className]="player.classId"
            ></rv-player-card>

            <!-- <rv-player-card
                  nz-button
                  nzTooltipTitle="{{ player.note }}"
                  nzTooltipPlacement="topCenter"
                  nz-tooltip
                  [centerText]="player.name"
                  [topRightImgSrc]="getClassIconById(player.classId)"
                  [bottomRightImgSrc]="getSpecIconById(player.specId)"
                  [leftImageSrc]="getRoleIconById(player.roleId)"
                  [className]="player.classId"
                ></rv-player-card> -->

            <!-- <ng-container *ngFor="let player of players; let i = index">
              <div
                class="categories-item"
                cdkDropList
                cdkDropListOrientation="horizontal"
                [cdkDropListData]="{ item: player, index: i }"
                (cdkDropListDropped)="drop($event)"
              >
                <div class="inner" cdkDrag>
                  <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                  <rv-player-card
                    nz-button
                    nzTooltipTitle="{{ player.note }}"
                    nzTooltipPlacement="topCenter"
                    nz-tooltip
                    [centerText]="player.name"
                    [topRightImgSrc]="getClassIconById(player.classId)"
                    [bottomRightImgSrc]="getSpecIconById(player.specId)"
                    [leftImageSrc]="getRoleIconById(player.roleId)"
                    [className]="player.classId"
                  ></rv-player-card>
                </div>
              </div>
            </ng-container> -->

            <!-- <div class="empty-card-container" *ngIf="players.length < 20">
              <div class="empty-card" (click)="openAddNewPlayerModal()">
                <img src="assets/images/other-icons/add-icon.png" alt="spec" />
              </div>
            </div> -->
          </div>
        </div>
        <div class="col-md-12">
          <div class="roles-container">
            <span class="col-lg-3 col-md-6 col-sm-12 role-count tanks"
              ><img src="assets/images/role-icons/tank.png" alt="" class="role-icon" /> Tanks:
              {{ (rolesCount$ | async)['TANK'].toString() }}</span
            >
            <span class="col-lg-3 col-md-6 col-sm-12 role-count healers"
              ><img src="assets/images/role-icons/healer.png" alt="" class="role-icon" />Healers:
              {{ (rolesCount$ | async)['HEALER'].toString() }}</span
            >
            <span class="col-lg-3 col-md-6 col-sm-12 role-count dps"
              ><img src="assets/images/role-icons/rdps.png" alt="" class="role-icon" />RDPS:
              {{ (rolesCount$ | async)['RDPS'].toString() }}</span
            >
            <span class="col-lg-3 col-md-6 col-sm-12 role-count dps"
              ><img src="assets/images/role-icons/mdps.png" alt="" class="role-icon" />MDPS:
              {{ (rolesCount$ | async)['MDPS'].toString() }}</span
            >
          </div>
        </div>
        <div class="col-md-12">
          <h3>Backup:</h3>
          <!-- TODO -->
          <div class="all-cards-container" dragula="VAMPIRES" [(dragulaModel)]="backup">
            <rv-player-card
              class="vamp"
              *ngFor="let player of backup"
              nz-button
              nzTooltipTitle="{{ player.note }}"
              nzTooltipPlacement="topCenter"
              nz-tooltip
              [centerText]="player.name"
              [topRightImgSrc]="getClassIconById(player.classId)"
              [bottomRightImgSrc]="getSpecIconById(player.specId)"
              [leftImageSrc]="getRoleIconById(player.roleId)"
              [className]="player.classId"
            ></rv-player-card>

            <div class="empty-card-container" *ngIf="players.length < 20">
              <div class="empty-card" (click)="openAddNewPlayerModal()">
                <img src="assets/images/other-icons/add-icon.png" alt="spec" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Composition Details</h3>
      <div class="row">
        <div class="col-md-12">
          <rv-class-composition></rv-class-composition>
        </div>
      </div>
    </div>
  </div>
</div>
