<div class="container">
  <div class="row">
    <div class="col-md-8">
      This is main
      <div class="row">
        <div class="col-md-12">
          <rv-player-card
            *ngFor="let player of players"
            [name]="player.name"
            [classImage]="player.class"
            [specImage]="player.spec"
            [roleImage]="player.role"
            [className]="player.className"
          ></rv-player-card>
          <div class="empty-card-container">
            <div class="empty-card"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      Sidebar
    </div>
  </div>
</div>
