@import 'src/styles/theme/_mixins';
@import 'src/styles/theme/_variables';
@import 'src/styles/theme/_spacings';

.planner-container {
  .roles-container {
    background-color: lightblue;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
    .role-count {
      display: inline-block;
      text-align: center;
    }
  }
  .all-cards-container {
    display: flex;
    flex-flow: row wrap;
    .empty-card-container {
      display: inline-block;

      .empty-card {
        @include player-card;
        justify-content: center;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
          background-color: darkgray;
        }

        img {
          align-self: center;
          width: 40px;
        }
      }
    }
  }

  nz-select {
    margin: 0 8px 10px 0;
    width: 120px;
  }
}
